# ваш зарегистрированный домен, на котором будет работать сайт и панель управления
DOMAIN=your.domain

# порт, на котором будет доступна панель управления 3x-ui
UI_PORT=4242

# переменные для пути к панели управления
# панель будет доступна по пути DOMAIN/UI_DUMMY_PATH/UI_PATH
# какие пути лучше не использовать: /admin, /panel, /x-ui, /login, /manage
UI_DUMMY_PATH=dummy
UI_PATH=path

# эти значения будут использоваться для создания инбаунда 3x-ui
# не использовать стандартные порты - 22, 80, 443, 2053 и т.д.
# path лучше делать не очень осмысленным
NETWORK_PORT=22443
NETWORK_PATH=asadasdas

# нужно для генерации сертификатов Let's Encrypt
# можно указать свой, можно несуществующий, но валидный email
EMAIL=your@email.com

vless://UUID@your.domain:443?type=ws&encryption=none&path=%2Fasadasdas&host=your.domain&security=tls&sni=your.domain&fp=chrome&alpn=h2%2Chttp%2F1.1
